<div class="center"> <%=image_tag("HomePic.png")%> </div>

<div class="center">
	<div class="inline-block">
		register
	</div>
	<div class="inline-block">
		Buy Banquet Ticket
	</div>
</div>
<div class="center">
	<iframe class="youtube-player" type="text/html" width="640" height="385" src="http://www.youtube.com/embed/qma1pEiPZ2M" allowfullscreen frameborder="0">
	</iframe>
</div>