<h1>Program</h1>
<p>Here are the highlights of what you’ll be experiencing at convention this year. Exact times and activities are still subject to change. Plan to start each day around 9-9:30am and end by 4:30-5pm. We highly recommend you attend the dinner on Friday night to start bonding with convention attendees, and stick around on Monday to experience all that San Francisco offers!</p>

<h2>Friday</h2>
<ul>
<li>All day President’s training</li>
<li>7:30PM Welcome Dinner</li>
<li>9:30PM After Party @ TBD</li>
</ul>
